nav {
    display: flex;
    background: linear-gradient(180deg, rgba(95, 158, 160, 0.6), rgba(255, 255, 255, 0));
    height: 35px;
    border-bottom-left-radius: 100px;
    width: 545px;
    float: right;
    align-self: flex-start;
    position: fixed;
    top: 0;
    right: 0;
}

ol {
    top: 0px;
    float: right;
    list-style: none;
    margin: 0%;
}

ol li {
    font-family: "Deardorf Demo";
    font-size: 150%;
    display: inline-block;
    align-self: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 35px;
    align-content: center;
}

ol li a {
    color: black;
    text-decoration: none;
}

ol li a:hover {
    text-decoration: underline;
}

ol li:hover {
    display: inline-block;
    height: 35px;
    padding-right: 15px;
    padding-left: 15px;
    align-self: center;
    background: linear-gradient(180deg, rgba(95, 158, 160, 0.6), rgba(255, 255, 255, 0));
}

html {
    height: 35px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color: rgb(198, 253, 255);
    align-content: center;
}

.logo {
    display: flex;
    margin-top: 80px;
    height: 507px;
    width: 507px;
    align-self: center;
}

.Top {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

h1 {
    text-align: center;
    font-family: "Deardorf Demo";
    font-size: 300%;
}

@font-face {
    font-family: "Deardorf Demo";
    src: url('fonts/DeardorfDemo.ttf') format('truetype');
}

h2 {
    text-align: center;
    font-family: "Deardorf Demo";
    font-size: 200%;
}

.Bottom {
    display: inline-flex;
    align-self: center;
    padding: 0px;
}

.bottommenu {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Deardorf Demo";
    height: 40px;
    width: 100px;
    margin: 20px;
    border-radius: 20px;
    justify-content: center;
    gap: 10px 30px;
    text-decoration: none;
}

.bottoma {
    font-size: 25px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.bottommenu:hover {
    border-radius: 20px;
    border: solid rgb(0, 0, 0) 2px;
    background: linear-gradient(180deg, rgba(95, 158, 160, 0.6), rgba(255, 255, 255, 0));
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    padding: 0;
}

.tattoos {
    display: flex;
    height: 200px;
    align-content: center;
    box-shadow: 5px 10px 15px;
}

ol img {
    display: flex;
    align-items: center;
    margin: 15px;
    float: none;
}